@font-face {
    font-family: "digital";
    src: url("./../../../fonts/DS-DIGI.TTF");
}

* {
    margin: 0
}

.TextContainer {
    background-color: rgba(73, 69, 69, 0.63);
    position: relative;
    bottom: 100px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    animation-duration: 2s;
    animation-name: TextContainerAnimation;
    color: white
}

.Title {
    font-family: "digital";
    font-size: 80px;
}

.Paragraph {
    font-family: "digital";
    font-weight: bold;
    font-size: 15px;
}

/* animaciones */
@keyframes TextContainerAnimation {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 25%;
    }

    
}