.carousel {
    overflow: scroll;
    padding-left: 60px;
    width: 100%;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    transition: 5s;
    animation-name: CarrouselAnimation;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;   
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

/* animaciones */
@keyframes CarrouselAnimation {
    from {
        padding-left: -200%;
        width: 200%;
    }

    to {
        padding-left: 0px;
    }
}