.carousel {
    position: relative;
    left: auto;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    transition: 10s;
    animation-name: CarrouselAnimation;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;   
}

.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    width: 40%;
}

/* animaciones */
@keyframes CarrouselAnimation {
    from {
        margin-left: 500px;
    }

    to {
        margin-left: 0px;
    }
}