/* HTML */
.AppContainer {
  background-color: black;

  /* adaptar para mobil el margin */
  padding-top: 10%;
  padding-left: 30%;
}

/* REACT */
.ContentContainer {
  height: 50%;
  width: 50%;
}

.LoadingGift {
  height: 100%;
  width: 100%;
}

.letra {
  color: white;
}