.AppContainer {
    height: 100%;
    width: 100%;
}

.LoadingGift {
    height: 100%;
    width: 100%;
}

.MainContainer {
    position: absolute;
    background-image: url('../../gifs/skate.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    animation: 2s;
    animation-name: AppContainerStart;
    text-align: center;
}

/* animaciones */
@keyframes AppContainerStart {
    from {
        margin-left: -200%;
    }

    to {
        margin-left: 0px;
    }
}