.AppContainer {
    position: absolute;
    background-image: url('../../gifs/skate.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.LoadingGift {
    height: 100%;
    width: 100%;
}